body {
    font-family: Arial, sans-serif;
   /* BACKGROUND GAMBAR */
    background-image: url("Peta_indonesia.jpg");
    background-size: cover;      /* menyesuaikan layar */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 350px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #198754;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #146c43;
}

.error {
    background: #f8d7da;
    color: #842029;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.result {
    background: #d1e7dd;
    color: #0f5132;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}
